<% if @event.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event do |f| %>
  <p>
  <%= f.label :day %>
  <%= f.select :day, [["Sunday","Sunday"], ["Monday","Monday"], ["Tuesday","Tuesday"], ["Wednesday","Wednesday"], ["Thursday","Thursday"], ["Friday","Friday"], ["Saturday","Saturday"]], prompt: true %>
  </p>

  <p>
  <%= f.label :start_time %>
  <%= f.time_select :start_time, ampm: true, minute_step: 15 %>
  </p>

  <p>
  <%= f.label :end_time %>
  <%= f.time_select :end_time, ampm: true, minute_step: 15 %>
  </p>

  <p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </p>

  <%= f.submit %>
<% end %>
