

<div id="actions">
  <%= link_to "Add Event", new_event_path %>
  <%= form_for @event do |f| %>
    <div id="quick_add">
      <%= f.label :full_details, "Quick add" %>
      <span class="example">(Ex: Monday 12:00pm-1:30pm Lunch with Billy)</span>
      <br>
      <%= f.text_field :full_details %>

      <%= f.submit %>
    </div>
  <% end %>
</div>

<table id="calendar">
  <tr>
    <% @days.each do |d| %>
    <th><%= d %></th>
    <% end %>
  </tr>
  <tr>
    <% @days.each do |d| %>
    <td class="day">
      <% if @ordered_events_by_day[d] %>
        <% @ordered_events_by_day[d].each do |e| %>
          <div class="event">
            <div class="time"><%= e.start_time.to_s(:just_time) + "-" + e.end_time.to_s(:just_time) %></div>
            <%= link_to e.description, edit_event_path(e) %>
          </div>
        <% end %>
      <% end %>
    </td>
    <% end %>
  </tr>
</table>
