<h2>Add an event</h2>

<%= form_for @event do |f| %>
  <p>
  <%= f.label :day %>
  <%= f.select(:day, options_for_select(["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"])) %>
  </p>

  <p>
  <%= f.label :start %>
  <%= f.time_select :start %>
  </p>

  <p>
  <%= f.label :end %>
  <%= f.time_select :end %>
  </p>

  <p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </p>

  <%= f.submit %>
<% end %>
